@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
  font-family: 'Lora', serif;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.inline {
  display: inline;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.meter {
  /* display: none; */
}