@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
:root {
  --button-color: rgb(241, 223, 223);
  --hover-color: rgba(236, 218, 218, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lora', serif;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 30px auto;
  width: 800px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
}

button, .button {
  cursor: pointer;
  background-color: #dcddf7;
  color: rgb(48, 48, 48);
  border-radius: 2px;
  border: 1px solid #bbb;
  display: block;
  padding: 2px 10px;
  margin: 2px 5px;
  font-size: 16px;
  font-family: 'Lora', serif;
}

button:hover {
  background-color: var(--hover-color);
}

.button:hover {
  background-color: var(--hover-color);
}

h2 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 30px 0 10px;
}

.meter {
  display: none;
}

.meter_vad {
  display: none;
}

.meter_pred {
  display: none;
}