@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  font-family: 'Lato';
}

.custom-button {
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: rgb(243, 243, 243);
  display: inline-block;
  padding: 4px 4px;
  margin: 2px 0px;
  cursor: pointer;
}